---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Inicio">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        nulla nibh, euismod ut ligula vel, lacinia rutrum mi. Etiam venenatis
        lacinia diam quis eleifend. Nullam risus augue, condimentum eget lorem
        quis, condimentum fermentum nulla. Praesent metus ex, bibendum non
        auctor nec, scelerisque vel sem. Maecenas malesuada iaculis porta.
        Aenean a fringilla erat. Proin sollicitudin varius ante quis maximus.
        Nam sodales purus mauris, placerat fermentum odio consectetur id.
    </p>

    <p>
        Duis libero sem, ullamcorper in ultricies vitae, lobortis id nibh. Nam
        posuere augue et tristique commodo. Nulla aliquam gravida laoreet. Proin
        vitae varius mi, a scelerisque dui. Morbi ut facilisis lorem. Donec
        blandit pretium enim vitae malesuada. Proin euismod elit libero, ut
        tincidunt ante pharetra non. Nullam dictum, quam non malesuada aliquet,
        ligula dui eleifend ligula, sed commodo metus mauris a sapien. Donec
        vulputate laoreet rhoncus. Morbi vel faucibus elit. Proin vulputate
        facilisis urna at varius.
    </p>

    <p>
        Mauris sodales nulla commodo, porta lectus accumsan, elementum dui.
        Aenean lectus nisl, malesuada vel odio vitae, bibendum luctus nunc.
        Morbi rutrum est non neque ornare, sed sollicitudin tellus mollis.
        Aliquam dictum id mi non blandit. Nulla facilisi. Donec volutpat id mi
        ut fermentum. Quisque ut dui a est vulputate tempus non id leo. Duis ac
        ipsum velit. Maecenas in ante suscipit, tincidunt augue vel, suscipit
        massa. Praesent efficitur libero sit amet odio condimentum ultricies.
        Phasellus mi urna, imperdiet nec aliquam et, accumsan in quam. Duis
        tincidunt urna ipsum, sit amet pulvinar velit blandit vitae. Duis a
        dolor tincidunt, viverra libero ac, auctor libero. In consectetur nibh
        ut turpis condimentum, vitae congue dolor tincidunt. Curabitur vel
        viverra urna.
    </p>

    <p>
        Suspendisse non auctor tellus. Maecenas a magna scelerisque, egestas
        ante eu, tristique orci. Morbi ut est tortor. Sed finibus at ante sed
        malesuada. Praesent ac ligula quis ante eleifend dapibus non at nisi.
        Cras augue neque, gravida sed pulvinar sit amet, feugiat a libero. Duis
        eu pulvinar eros. Fusce pellentesque tortor eget ex pretium, a dictum
        augue facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Donec mattis pretium efficitur. Aliquam
        tristique tortor tortor, vitae dignissim nisi egestas tempus. Integer
        vel imperdiet mi.
    </p>

    <p>
        Sed velit massa, tempor nec commodo non, euismod auctor quam. Donec
        iaculis quam sed semper aliquam. Maecenas sed iaculis lorem. Quisque
        tristique congue eleifend. Curabitur at lectus fermentum, facilisis enim
        ac, tincidunt lectus. Ut at nisi ac ligula ultrices semper eu id leo. In
        hac habitasse platea dictumst. Vestibulum ut magna quis felis tincidunt
        bibendum. Nulla efficitur odio ante. Sed fermentum sapien vitae risus
        rutrum placerat. Donec malesuada diam nec sem aliquam, ut eleifend dui
        lobortis. Cras sodales magna eu metus scelerisque volutpat. In cursus a
        massa id congue. Curabitur sollicitudin magna felis, quis lacinia diam
        congue vitae. Cras molestie tellus sed arcu mattis, non molestie orci
        eleifend.
    </p>
</BaseLayout>
