---
import mailIcon from "../assets/icons/mail.svg";
import phoneIcon from "../assets/icons/phone.svg";
import smartphoneIcon from "../assets/icons/smartphone.svg";
import mapPinIcon from "../assets/icons/map-pin.svg";

const icons = {
    mail: mailIcon,
    phone: phoneIcon,
    smartphone: smartphoneIcon,
    mapPin: mapPinIcon,
};

interface ContactItem {
    label: string;
    icon: keyof typeof icons;
    content: string | string[];
}

const contactItems: ContactItem[] = [
    {
        label: "Correo",
        icon: "mail",
        content: "clientes@basyequipos.com",
    },
    {
        label: "Teléfono",
        icon: "phone",
        content: ["+52 662 XXX XXXX", "+52 662 YYY YYYY"],
    },
    {
        label: "Celular",
        icon: "smartphone",
        content: "+52 662 ZZZ ZZZZ",
    },
    {
        label: "Ubicación",
        icon: "mapPin",
        content: "Periférico Norte 415, Luis Encinas, 83138 Hermosillo, Sonora",
    },
];

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class={className}>
    <dl>
        {
            contactItems.map((item) => {
                const Icon = icons[item.icon];

                return (
                    <div>
                        <dt>
                            <Icon />
                            {item.label}
                        </dt>

                        {Array.isArray(item.content) ? (
                            item.content.map((value) => <dd>{value}</dd>)
                        ) : (
                            <dd>{item.content}</dd>
                        )}
                    </div>
                );
            })
        }
    </dl>
</div>

<style>
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    dl > div {
        display: grid;
        grid-template-columns: 24px 1fr;
        column-gap: 0.75rem;
        row-gap: 0.25rem;
    }

    dt {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: subgrid;
        align-items: center;

        margin: 0;
        font-weight: 600;
    }

    dd {
        grid-column: 2;

        margin: 0;
    }
</style>
