---
import Navigation from "./Navigation.astro";
import Contact from "./Contact.astro";
import Social from "./Social.astro";
---

<footer>
    <p>Menú</p>
    <Navigation />
    <p>Contactanos</p>
    <Contact />
    <p>Redes</p>
    <Social />
</footer>
