---
const pathname = Astro.url.pathname;

interface NavigationItem {
    label: string;
    href: string;
}

const navigationItems: NavigationItem[] = [
    { label: "Inicio", href: "/" },
    { label: "Equipo", href: "/equipo" },
    { label: "Catálogo", href: "/catalogo" },
    { label: "Servicio", href: "/servicio" },
    { label: "Nosotros", href: "/nosotros" },
    { label: "Contacto", href: "/contacto" },
];
---

<nav>
    <ul>
        {
            navigationItems.map((item) => (
                <li>
                    <a
                        href={item.href}
                        aria-current={
                            pathname === item.href ? "page" : undefined
                        }
                    >
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
